<label class="TextInput">
  <span class="TextInput-label">First Name</span>
  <input class="TextInput-input" name="first" type="text">
</label>

<label class="TextInput required">
  <span class="TextInput-label">Last Name</span>
  <input aria-describedby="error-message" class="TextInput-input" name="last" required type="text">
  <div class="u-visuallyHidden" id="error-message">This field is required.</div>
</label>

<label class="TextInput">
  <span class="TextInput-label">Description</span>
  <textarea class="TextInput-input" name="description"></textarea>
</label>
