 <fieldset class="CheckboxGroup">
  <legend class="CheckboxGroup-legend">Who is your favorite 19th century scientist</legend>
  <div class="CheckboxGroup-checkboxes">
    <div class="CheckboxGroup-checkbox">
      <label class="Checkbox">
        <input class="Checkbox-input" type="checkbox" name="scientist" value="bell"/>
        <span class="Checkbox-label">Alexander Graham Bell</span>
      </label>
    </div>
    <div class="CheckboxGroup-checkbox">
      <label class="Checkbox">
        <input class="Checkbox-input" type="checkbox" name="scientist" value="edison"/>
        <span class="Checkbox-label">Thomas Edison</span>
      </label>
    </div>
    <div class="CheckboxGroup-checkbox">
      <label class="Checkbox">
        <input class="Checkbox-input" type="checkbox" name="scientist" value="morse"/>
        <span class="Checkbox-label">Samuel Morse</span>
      </label>
    </div>
  </div>
</fieldset>
