 <fieldset class="RadioGroup">
  <legend class="RadioGroup-legend">Who is your favorite 19th century scientist</legend>
  <div class="RadioGroup-radios">
    <div class="RadioGroup-radio">
      <label class="Radio">
        <input class="Radio-input" type="radio" name="scientist" value="bell"/>
        <span class="Radio-label">Alexander Graham Bell</span>
      </label>
    </div>
    <div class="RadioGroup-radio">
      <label class="Radio">
        <input class="Radio-input" type="radio" name="scientist" value="edison"/>
        <span class="Radio-label">Thomas Edison</span>
      </label>
    </div>
    <div class="RadioGroup-radio">
      <label class="Radio">
        <input class="Radio-input" type="radio" name="scientist" value="morse"/>
        <span class="Radio-label">Samuel Morse</span>
      </label>
    </div>
  </div>
</fieldset>
